.caption-top {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    background: #fff;
    /* padding-bottom: 20px; */
    position: relative;
    height: 240px;
}
.clock-ctn {
    /* display: table;
    justify-content: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.caption-left, .clock {
    display: table-cell;
}
.caption-left {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}